<!doctype html>

<title>Circuit Workout Generator</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="https://fonts.googleapis.com/css?family=Assistant:200,300,400,600,700,800" rel="stylesheet">
<link href="static/css/bootstrap.min.css" rel="stylesheet" media="screen">
<link href="static/css/customStyles.css" rel="stylesheet" media="screen">
<script src="static/javascipt/jquery-3.1.1.min.js"></script>
<script src="static/javascipt/bootstrap.min.js"></script>

  <div class="page">
      <div class="header">
        <div class="header-img-container">
          <div class="header-img">
            <img src="/static/images/banner.png"/>
          </div>
        </div>
      </div>
      {% block body %}{% endblock %}
  </div>

  <footer class="footer navbar-fixed-bottom">
    <p>
      Consult a physician before starting any new exercise program. <br>
      If you don't know how to do an exercise listed, seek guidance from someone
      who does.<br>
      &copy; Copyright 2016, <a href="http://maggieahewitt.com/"/>Maggie A Hewitt</a>
    </p>
  </footer>
