{% extends "layout.html" %}
{% block body %}
<div class="container">
  <div id="workout" class="col-lg-8 col-lg-offset-2 section">
  <div class="row section-header">
    <h2>Workout</h2>
  </div>
  <div class="row section-content">
    <div class="workout-list">

      <div class="circuit row">
        <h3>Circuit 1</h3>
        <div class="exercises">
          <div class="exercise col-lg-4">
            <div class="exercise-icon">
              <img  src="/static/svg/yoga_mat.svg"/>
            </div>
            <h4>Pushups</h4>
            <p>Muscle Group: Chest</p>
          </div>

          <div class="exercise col-lg-4">
            <div class="exercise-icon">
              <img src="/static/svg/dumbbell.svg"/>
            </div>
            <h4>Deadlift Row</h4>
            <p>
              Muscle Group: Back <br/>
              Requires: Weights
            </p>
          </div>

          <div class="exercise col-lg-4">
            <div class="exercise-icon">
              <img src="/static/svg/stability_ball.svg"/>
            </div>
            <h4>Stability Ball Pass</h4>
            <p>
              Muscle Group: Core <br/>
              Requires: Stability Ball
            </p>
          </div>
        </div>
      </div>

      <hr>

      <div class="circuit row">
        <h3>Circuit 2</h3>
        <div class="exercises">
          <div class="exercise col-lg-4">
            <div class="exercise-icon">
              <img src="/static/svg/yoga_mat.svg"/>
            </div>
            <h4>Pushups</h4>
            <p>Muscle Group: Chest</p>
          </div>

          <div class="exercise col-lg-4">
            <div class="exercise-icon">
              <img src="/static/svg/dumbbell.svg"/>
            </div>
            <h4>Bicep Curl </h4>
            <p>
              Muscle Group: Biceps <br/>
              Requires: Weights
            </p>
          </div>

          <div class="exercise col-lg-4">
            <div class="exercise-icon">
              <img src="/static/svg/exercise_machine.svg"/>
            </div>
            <h4>Hamstring Curls</h4>
            <p>
              Muscle Group: Core <br/>
              Requires: Stability Ball
            </p>
          </div>
        </div>
      </div>

      <hr>

  </div>
</div><!-- section-content -->
</div> <!-- Container -->
{% endblock %}
