{% extends "layout.html"%}
{% block body%}
<div class="container">

  <div id="workoutGenerationForm" class="col-lg-8 col-lg-offset-2 section">

    <div class="row section-header">
        <h2>Generate Workout</h2>
    </div>

    <div class="row section-content">
      <form class="form-horizonal" action="/generate" method="POST">
        <div class="form-group">
          <label for="targetMuscleGroup">Target Muscle Group</label>
          <select class="form-control" id="targetMuscleGroup">
            <option value="ALL" selected="selected">Everything</option>
            <option value="CORE">Core</option>
            <option value="BACK">Back</option>
            <option value="LEGS">Legs</option>
            <option value="CHEST">Chest</option>
            <option value="HAMSTRING">Hamstrings</option>
            <option value="QUADRICEPS">Quadriceps</option>
            <option value="BICEPS">Biceps</option>
            <option value="TRICEPS">Triceps</option>
          </select>
        </div>

        <div class="form-group">
          <label for="numberOfCircuits">Number of Circuits</label>
          <input type="number" class="form-control" id="numberOfCircuits" min="1" max="50" placeholder="3"></input>
        </div>

        <div class="form-group">
          <label for="numberOfExercisesPerCercuit">Exercises per Circuit</label>
          <input type="number" class="form-control" id="numberOfExercisesPerCercuit" min="1" max="50" placeholder="3"></input>
       </div>

       <div class="checkbox">
         <label>
           <input type="checkbox" name="weightsAvailable" id="weightsAvailable" value="" checked></input>
           Include exercise that require free weights
         </label>
       </div>

       <div class="checkbox">
         <label>
           <input type="checkbox" name="stabilityBallAvailable" id="stabilityBallAvailable" value="" checked></input>
           Include exercise that require a stability ball
         </label>
       </div>

       <div class="checkbox">
         <label>
           <input type="checkbox" name="exerciseMachinesAvailable" id="exerciseMachinesAvailable" value="" checked></input>
           Include exercises that frequire exercise machines
         </label>
       </div>

       <hr>

       <input type="submit" id="generateWorkoutButton" class="btn btn-primary right" value="Generate Workout"></input>

      </form>
    </div>
  </div>
</div>
{% endblock %}
